<script type="text/ng-template" id="nodes_renderer.html">
    <div ng-click="setCurrentAritcle(node)">{{node.partIdentifier}} {{node.title}}</div>
    <ol ui-tree-nodes ng-model="node.nodes">
        <li ng-repeat="node in node.nodes track by node.id" ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div class="row">
    <div class="col-md-3 well" ui-tree data-nodrop-enabled="true" data-drag-enabled="false">
        <ol ui-tree-nodes ng-model="aritcles">
            <li ng-repeat="node in aritcles track by node.id" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="submit()">提交</button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="part">章节</label>
                    <input type="text" id="part" class="form-control" ng-model="aritcle.partIdentifier">
                </div>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" id="title" class="form-control" ng-model="aritcle.title">
                </div>
                <div class="form-group">
                    <label for="content">正文</label>

                    <div id="content" class="ueditor" ng-model="aritcle.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>